<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- [DB연결 사용법] 1. SQL문 작성 하고 다음과 같은 양식으로 만들어준다. -->
<!-- sql문 작성 -->
<mapper namespace="userMapper">
	<!-- 아래부터 내가만든 -->
	<select id="userSelectALL" resultType="UserDTO">
		SELECT * FROM USERDATA
	</select>

	<select resultType="UserDTO" parameterType="UserDTO"
		id="userSelectAll">SELECT * FROM USERDATA </select>

	<select resultType="UserDTO" parameterType="UserDTO"
		id="userSelectOne">SELECT * FROM USERDATA WHERE userId=#{userId} </select>

	<insert parameterType="UserDTO" id="userInsert">INSERT INTO USERDATA
		(userId,userName,userPassword,userBirth,userGender,userEmail)
		VALUES
		(#{userId}, #{userName}, #{userPassword},#{userBirth},#{userGender},#{userEmail})
	</insert>

	<update parameterType="UserDTO" id="userModify">UPDATE USERDATA SET
		userName=#{userName},userPw=#{userPw},userEmail=#{userEmail},userBirth=#{userBirth},userGender=#{userGender}
		WHERE userId=#{userId}
	</update>
</mapper>